<div class="container mt-5">
  <div class="row mb-4">
    <div class="col-3">
      <img class="rounded border p-1" src="assets/img/bableves-orig-lapos.jpg" alt="">
    </div>
    <div class="col-8">
      <div class="card bg-light">
        <div class="card-body">
          <strong class="d-inline-block mb-2 text-primary">Leves</strong>
          <h3 class="mb-0">
            Bableves
          </h3>
          <p>Bavleves a klasszikus recept szerint, nem jókai!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h4>Hozzávalók</h4>
      <div class="card">
        <tabset>
          <tab heading="Tészta" id="tab1">
            <div class="card-body">
              <ul class="list-unstyled">
                <li>1/2 kg fejtett bab</li>
                <li>1 db sárgarépa</li>
                <li>1 db petrezselyemgyökér</li>
                <li>1 db zeller (kisebb) </li>
                <li>petrezselyemzöld</li>
                <li>zellerzöld</li>
                <li>só </li>
              </ul>
            </div>
          </tab>
          <tab heading="Leves">
            <div class="card-body">
              <ul class="list-unstyled">
                <li>1 tk ételízesítő</li>
                <li>1 ek zsír</li>
                <li>2 ek liszt</li>
                <li>1 fej hagyma (kisebb)</li>
                <li>2 tk pirospaprika</li>
                <li>bors</li>
                <li>1 db tojás</li>
                <li>só</li>
                <li>2-3 ek víz</li>
                <li> liszt </li>
              </ul>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="col-7">
      <h4>Elkészítés</h4>
      <ol>
        <li>
          Forró gőz fölött megpuhítjuk a pumkedlit, és 100 fokos sütőbe düszdeljük. Előkészítjük a
          párkát,
          meglovasítjuk a pupajkát, és nem feledkezünk el a szörcsenetről sem.
        </li>
        <li>
          Az alkatrészeket összekeverjük, pihentetjük, majd csokoládés deszkán 3 mikron vastagságúra
          gyúrjuk.
        </li>
        <li>
          kis csomagocskákat készítünk, megtöltük vattával, kakaóval, és a tegnapi zokni maradékával,
          majd hideg kagylón tálaljuk.
        </li>

      </ol>
    </div>
  </div>
</div>