@import "variables.scss";
/* You can add global styles to this file, and also import other style files */
/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 4rem;
    background-color: $green-01;
    background-image: linear-gradient($green-01, white);
  }

main {
  background-color: #f9f9f9;
  margin: 5px 10px 0 10px;
  padding-top: 10px;
}

  .card-header {
    background-color: rgba(0, 50, 0, 0.1);
  }